/* src/AboutUs.css */
.about-us-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  color: var(--text-dark);
}

.about-us-description {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.about-us-content {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.7;
}